<!-- homepage.component.html -->
<div class="container">
 <div class="header">
  <img
   src="https://media.istockphoto.com/id/1035170018/vector/vector-illustration-icon-with-digital-media-concept-about-online-registration.jpg?s=612x612&w=0&k=20&c=GsPRlGzd5sXH4EXXZ8nmmTtGZ3jxU7JcdyJ9F9w-F7I="
   alt="Desk Master Logo" class="logo">
  <h1 class="app-heading">Welcome to Desk Master: Your Office Oasis</h1>
 </div>
 <img src="https://master-works.sa/sites/default/files/2023-04/Nawa-Desktop_1.jpg" alt="Office Desk Image"
  class="desk-image">
 <p class="description">Desk Master is your all-in-one solution for office administration, streamlining tasks, and
  enhancing productivity. With intuitive features and user-friendly design, managing your office environment has never
  been easier. From scheduling appointments to tracking resources, Desk Master empowers you to create an efficient and
  harmonious workspace. Say goodbye to paperwork and hello to seamless office management with Desk Master.</p>
</div>