<h1>Programming Blogs</h1>
<button mat-raised-button color="primary" (click)="addBlog()">Add New Blog</button>

<mat-card *ngIf="!blogInfo.errorMessage && !blogInfo.blogList.length">
  <h1>No Blog Found</h1>
</mat-card>
<mat-card *ngFor="let blog of blogInfo.blogList">
  <mat-card-header>
    <h1>{{blog.title}}</h1>
    <div style="text-align: right; width: 100%;"><button mat-raised-button color="primary"
        (click)="editBlog(blog.id)">Edit</button>
      <button mat-raised-button color="warn" (click)="onDelete(blog.id)">Delete</button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <p>{{blog.content}}</p>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="blogInfo.errorMessage">
  <mat-card-header>
    <h1>Error occurred!</h1>

  </mat-card-header>
  <mat-card-content>
    <p style="color: red;">{{blogInfo.errorMessage}}</p>
  </mat-card-content>
</mat-card>