.spacer {
  flex: 1 1 auto;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Adjust as needed */
}

.content {
  padding-top: 64px; /* Adjust this value to match the height of your toolbar */
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
}

.mat-drawer-container {
  /* height: 100vh; Set the height of the drawer container to full viewport height  */
}
.drawer-container {
  height: 100vh; /* Set the height of the drawer container to full viewport height */
}
