<!-- interview-table.component.html -->
<div class="container">
  <mat-card>
    <mat-card-header>
      <h1>Interview Listing</h1>
      <button mat-raised-button color="primary" style="margin-left: 10%;" routerLink="/recruitmentTeam"> Interview Board
      </button>
      <button (click)="AddInterview()" mat-raised-button color="primary" style="margin-left: 40%;">Add Interview
        (+)</button>

    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource">
        <!-- Candidate Name Column -->
        <ng-container matColumnDef="candidateName">
          <th mat-header-cell *matHeaderCellDef>Candidate Name</th>
          <td mat-cell *matCellDef="let interview">{{ interview.candidateName }}</td>
        </ng-container>

        <!-- Candidate Email Column -->
        <ng-container matColumnDef="candidateEmail">
          <th mat-header-cell *matHeaderCellDef>Candidate Email</th>
          <td mat-cell *matCellDef="let interview">{{ interview.candidateEmail }}</td>
        </ng-container>

        <!-- Candidate Phone Number Column -->
        <ng-container matColumnDef="candidatePhoneNo">
          <th mat-header-cell *matHeaderCellDef>Candidate Phone Number</th>
          <td mat-cell *matCellDef="let interview">{{ interview.candidatePhoneNo }}</td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let interview">{{ interview.date }}</td>
        </ng-container>

        <!-- Time Column -->
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef>Time</th>
          <td mat-cell *matCellDef="let interview"><button mat-raised-button
              (click)="onChangeTimeSlot(interview.id)">{{interview.time }}</button></td>
        </ng-container>

        <!-- Interviewer Column -->
        <ng-container matColumnDef="interviewer">
          <th mat-header-cell *matHeaderCellDef>Interviewer</th>
          <td mat-cell *matCellDef="let interview"><span *ngFor="let interviewer of interview.interviewersList">{{
              interviewer.name }}<br></span></td>
        </ng-container>

        <!-- Additional Info Column -->
        <ng-container matColumnDef="additionalInfo">
          <th mat-header-cell *matHeaderCellDef>Additional Info</th>
          <td mat-cell *matCellDef="let interview">{{ interview.additionalInfo }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef><button mat-icon-button disabled><mat-icon>edit</mat-icon></button></th>
          <td mat-cell *matCellDef="let interview">
            <button (click)="onEdit(interview.id)" mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>

          </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef><button mat-icon-button disabled><mat-icon>delete</mat-icon></button>
          </th>
          <td mat-cell *matCellDef="let interview">
            <button [matMenuTriggerFor]="menu" #menuTrigger mat-icon-button
              color="accent"><mat-icon>delete</mat-icon></button>
            <mat-menu #menu="matMenu">
              <button mat-stroked-button color="warn" (click)="onDelete(interview.id)">confirm to delete?</button>
            </mat-menu>
          </td>
        </ng-container>


        <!-- Table Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
    <br>
    <mat-card-footer>
      <mat-paginator [pageSizeOptions]="[5,10,50]" showFirstLastButtons></mat-paginator>
    </mat-card-footer>
  </mat-card>
</div>