<section class="example-container mat-elevation-z8" tabindex="0">
 <div class="row container">
  <div class="col-lg-4 col-md-6">

   <mat-card class="example-card">
    <mat-card-header class="dashboard-card">
     <mat-card-title><a mat-button href="https://jadshan.github.io/DEV_BLOG_PAGE/" target="_blank">Visit to Dev
       Blogs</a></mat-card-title>
    </mat-card-header>
    <div class="card-image-container">
     <img mat-card-image
      src="https://cdn.dribbble.com/users/33374/screenshots/13733111/media/2444dccdb17d90c066d1e074dfeec97e.png?resize=400x0"
      alt="">
    </div>
   </mat-card>
  </div>

  <div class="col-lg-4 col-md-6">
   <mat-card class="example-card">
    <mat-card-header class="dashboard-card">
     <mat-card-title><button mat-button routerLink="localBlog">
       Local Blog Section</button></mat-card-title>
    </mat-card-header>
    <div class="card-image-container">
     <img mat-card-image
      src="https://entail-assets.com/mayple/62a1ff71f520bb785087f5b4_topmarketingblogs1_19f178343592408234a94f70c4bb9ad2_2000-1699776190264.jpg"
      alt="">
    </div>
    <mat-card-content>
    </mat-card-content>
   </mat-card>
  </div>
 </div>
</section>