.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
  margin: 5px;
  width: 80%;
}
.employDataCard {
  margin: 2%;
}

.container {
  min-width: 1200px;
  max-height: 90%;
}
