.example-container {
  height: 525px;
  max-width: 1330px;
  overflow: auto;
  margin: 2px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 4px;
}
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
  margin: 5px;
  width: 80%;
}
.employDataCard {
}
