<div class="row container">
 <div class="col-lg-4 col-md-6">
  <mat-card class="example-card">
   <mat-card-header class="dashboard-card">
    <mat-card-title><button mat-button routerLink="employ">Employee
      Profiles</button></mat-card-title>
   </mat-card-header>
   <div class="card-image-container">
    <img mat-card-image src="https://blog.hubspot.com/hubfs/meet-the-team.jpg#keepProtocol" alt="">
   </div>
   <mat-card-content>
   </mat-card-content>
  </mat-card>
 </div>

 <div class="col-lg-4 col-md-6">
  <mat-card class="example-card">
   <mat-card-header class="dashboard-card">
    <mat-card-title><button mat-button routerLink="employlist">Employees
      List</button></mat-card-title>
   </mat-card-header>
   <div class="card-image-container">
    <img mat-card-image src="https://blog.hubspot.com/hubfs/meet-the-team.jpg#keepProtocol" alt="">
   </div>
   <mat-card-content>
   </mat-card-content>
  </mat-card>
 </div>
</div>