<!-- interview-table.component.html -->
<form [formGroup]="interviewForm" (ngSubmit)="onSubmit()">
 <mat-card>
  <mat-card-header>
   <h1>{{title}}</h1>
  </mat-card-header>
  <mat-card-content>
   <span *ngIf="!(title == 'Change')">
    <mat-form-field>
     <input matInput formControlName="candidateName" placeholder="Candidate Name">
    </mat-form-field>
    <mat-form-field>
     <input matInput formControlName="candidateEmail" placeholder="Candidate Email">
    </mat-form-field>
    <mat-form-field>
     <input matInput formControlName="candidatePhoneNo" placeholder="Candidate Phone Number">
    </mat-form-field>
    <mat-form-field>
     <input matInput formControlName="interviewer" placeholder="Interviewer">
    </mat-form-field>
   </span>

   <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a Date" (dateChange)="onDateSelected($event)"
     formControlName="date">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
   </mat-form-field>
   <mat-form-field>
    <mat-label>Time</mat-label>
    <mat-select formControlName="timeSlot">
     <mat-option *ngFor="let time of timeList" [value]="time.timeSlot">{{time.timeSlot}}</mat-option>

    </mat-select>
   </mat-form-field>
   <!-- <mat-form-field>
    <mat-chip-list #chipList formControlName="courseIds">
     <mat-chip *ngFor="let cid of timeList">
      {{cid.timeSlot}}
     </mat-chip>

     <input matInput placeholder="Ids">
    </mat-chip-list>
   </mat-form-field> -->
   <!-- <mat-form-field>
    <input matInput formControlName="time" placeholder="Time">
   </mat-form-field> -->
   <mat-form-field>
    <textarea matInput formControlName="additionalInfo" placeholder="Additional Info"></textarea>
   </mat-form-field>
   <button mat-raised-button color="primary" type="submit">{{buttonStatus}} Interview</button>
  </mat-card-content>
 </mat-card>
</form>